.body-all {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3b4664;
    display: flex;
    justify-content: center; /* Centers .all-component horizontally */
    align-items: center; /* Centers .all-component vertically */
    height: 100vh; /* Full viewport height */
}

.all-component {
    background-color: #3b4664;
    width: 80%; /* Changed to 80% of its parent width */
    max-width: 400px; /* Reduced max-width to 600px */
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.title-wrapper {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}

.head-calculator {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-between; /* Change to start alignment */
    align-items: center;
    /* border: 1px solid red; */
}

.calc-title, .theme-title {
    margin: 0;
    font-size: 24px; /* You can adjust this value */
    font-weight: bold;
    color: white;
}

.calc-title {
    margin-left: 10px;
    margin-right: 20px; /* Add some spacing */
}

.theme-title {
    margin-top: 10px;
    /* margin-left: 160px; Add some spacing */
}

.head-slider {
    width: 100% !important;
    height: 25px;
    background-color: #252d44;
    position: relative;
    /* margin: 30px 0 20px auto; Adjusted margin to push the slider to the right */
    border-radius: 4px;
    /* top: 20px; */
    /* right: 30px; */
}

.wrap-head {
    /* position: absolute; */
    display : flex;
    flex-direction: column;
    /* border: 2px solid black; */
    align-items: center;
    width: 20%;
    height: 50px;
    right: 0px;
}


.number-labels {
    /* position: absolute; */
    /* width: 60px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* margin: -10px -60px 20px auto; Adjusted margin to push the slider to the right */
    font-size: 20px; 
    color: #e1e8fa;
    /* Adjust font size if needed */
}

.number-labels span {
    padding: 0; /* Ensures there's no extra padding */
    margin: 0; /* Ensures there's no extra margin */
    /* color: #e1e8fa; */
    font-weight: bold;
}

.button-slider {
    /* position: absolute; */
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    background-color: #e0402a;
    border-radius: 50%;
}

.head-slider::before {
    /* content: "1 2 3"; */
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    color: red;
}

.screen-calculator {
    color: #e1e8fa;
    width: 90%;
    margin: 20px;
    padding: 20px;
    height: 100px; /* Adjust as needed */
    background-color: #181f32;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: 2em;       /* Increase font size */
    text-align: right;    /* Align text to the right */
    font-weight: bold;    /* Make the font bold */
}

.body-calculator {
    width: 90%;
    height: 300px; /* Adjust as needed */
    background-color: #252d44;
    margin-top: 10px;
    border-radius: 5px;
    display : flex;
    flex-wrap : wrap;
    gap: 10px; /* Space between buttons */
    padding: 10px;
    justify-content: center;
}


.button {
    flex: 1 1 calc(25% - 10px); /* 4 buttons per row, 10px accounts for the gap between buttons */
    height: 50px; /* or you can adjust as needed */
    background-color: #eae3db; /* dark slate gray, adjust as needed */
    gap: 10px !important;
    border: none;
    color: #434a5a;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* box-shadow: 0px 4px 10px rgba(255, 165, 0, 0.3); light orange shadow below the button */
}


.button:hover {
    background-color: #ffffff; /* slate gray, adjust as needed */
    transform: translateY(-2px);
    /* box-shadow: 0px 5px 15px rgba(239, 96, 16, 0.3); added orange shadow */

}

.delete-btn {
    background-color: #647299; /* dark slate gray, adjust as needed */
    color: #eae3db;
}



.equal-btn {
    background-color: #d13f30; /* dark slate gray, adjust as needed */
    font-weight: 700;
    color: #eae3db;
}

.reset-btn {
    background-color: #647299;
    font-weight: 700;
    color: #fcffff;
}


.equal-btn:hover {
    background-color: #f96c5b;
}

.reset-btn:hover {
    background-color: #a2b3e1;
    color: #fcffff;
}




